{% extends 'product/base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <style>
        .error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
    </style>
</head>
<section>
    
    <div class="form-box" style="position: relative;">
        <div style="position: absolute;top: -100px;left: 0px;">
   
            {% if form.errors.old_password %}
                <p class="error-message">{{ form.errors.old_password }}</p>
            {% endif %}
            {% if form.errors.new_password1 %}
                <p class="error-message">{{ form.errors.new_password1 }}</p>
            {% endif %}
            {% if form.errors.new_password2 %}
                <p class="error-message">{{ form.errors.new_password2 }}</p>
            {% endif %}
        </div>
        <div class="form-values">
            <form method="POST">
                 {% csrf_token %} 
                <h2 class="password-title">Đổi mật khẩu</h2>
                <div class="inputbox">
                    {{ form.old_password }}
                    <label for="">Mật khẩu cũ</label>
                  
                </div>
                <div class="inputbox">
                    {{ form.new_password1 }}
                    <label for="">Mật khẩu mới</label>
                    
                </div>
                <div class="inputbox">
                    {{ form.new_password2 }}
                    <label for="">Xác nhận mật khẩu</label>
                   
                </div>   
               
                <input type="submit" class="login" value="Xác nhận">
            </form>
        </div>
    </div>
</section>
{% endblock %}